:root {
	font-size: 62.5%;
}

body{
	height: 100vh;
}

.splash #splash {
	display: flex;
}

.about #about {
	display: flex;
}

.skills #skills {
	display: flex;
}

.projects #projects {
	display: flex;
}

.contact #contact {
	display: flex;
}

.splash .navDot {
	background-color: #006666;
}

.about .navDot {
	background-color: #ff9933;
}

.skills .navDot {
	background-color: #9933cc;
}

.projects .navDot {
	background-color: #333399;
}

.contact .navDot {
	background-color: #006600;
}

#top, #bottom, #left, #right {
	background: #cbcbcb;
	position: fixed;
}

#left, #right {
	top: 0; bottom: 0;
	width: 11%;
}

#left { left: 0; }
#right { right: 0; }

#top, #bottom {
	left: 0; right: 0;
	height: 11%;
}

#top { top: 0; }
#bottom { bottom: 0; }

nav {
	display: flex;
	font-family: Arial;
}

.sideNav {
	display: flex;
	flex-direction: column;
		justify-content: center;
	height: 100%; 
	width: 0px; 
	position: fixed; 
	z-index: 99; 
	top: 0; 
	right: 0;
	background: rgba(15, 15, 15, 1) url("./resources/navscroll.gif");
	overflow-x: hidden;
	/*padding-top: 25%;*/
	transition: 0.5s;
	transition-timing-function: ease-in-out; 
}

.sideNav div {
	padding-left: 30%;
	padding-bottom: 1.75rem;
	text-decoration: none;
	font-size: 3.5rem;
	color: #818181;
	display: block;
	transition: .1s;
}

.sideNav div:hover {
	color: #f1f1f1;
}

#sideBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 0;
	top: 50%;
	z-index: 100;
	cursor: pointer;
	align-self: center;
	transition: margin-right .5s, border-radius .5s, background-color .15s;
	transition-timing-function: ease-in-out; 
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	background-color:  rgba(15, 15, 15, 0);
}

#sideBtn:hover {
	background-color:  rgba(15, 15, 15, 1);
}

.navIcon {
	position: relative;
	display: block;
}

.navDot {
	background-color: white;
	border-radius: 10px;
	width: 0.7rem;
	height: 0.7rem;
}

.navDot:first-child {
	position: absolute;
	top: 7px;
}

.navDot:last-child {
	position: absolute;
	bottom: 7px;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 1.8rem;}
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	height: 100vh;
	font: 800 4.25rem "Arial";
	color: white;
	padding-right: 20%;
}

#splash {
	background: green no-repeat center fixed  url("./resources/splash.gif");
	background-size: cover;
	display: none;
}

#about {
	font: 800 3rem "Arial";
	background: green no-repeat center fixed  url("./resources/about.gif");
	background-size: cover;
	display: none;
}

#skills {
	font: 800 3rem "Arial";
	background: green no-repeat center fixed  url("./resources/skills.gif");
	background-size: cover;
	display: none;
}

#contact {
	font: 800 3rem "Arial";
	background: green no-repeat center fixed  url("./resources/contact.gif");
	background-size: cover;
	display: none;
}

.postgreSQL {
	max-height: 3rem;
}

ul {
	list-style-type: none;
}

i {
	font-weight: 100;
}

#projects {
	align-items: flex-start;
	padding-left: 15%;
	font: 500 2rem "Arial";
	color: white;
	text-decoration: none;
	padding-right: 15%;
	background: green no-repeat center fixed  url("./resources/projects.gif");
	background-size: cover;
	overflow: scroll;
	display: none;
}

#projects a {
	font-weight: 600;
	padding-left: 2.5rem;
}

.project {
	padding-bottom: 2rem;
}

.link {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

#contact span, #mailto {
	font-size: .6em;
	padding-left: 1rem;
}
/*
#emailOptions {
	transition: visibility 2s;
}*/

.hover:hover {
	color: rgba(255,255,255,.75);
}
