:root {
	font-size: 62.5%;
}

body{
	height: 78vh;
	margin: 11vh;
	background: #999999;
	overflow: hidden;
}

nav {
	display: flex;
	font-family: 'Raleway', sans-serif;

}

.sideNav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%; 
	width: 0px; 
	position: fixed; 
	z-index: 99; 
	top: 0; 
	right: 0;
	background: rgba(15, 15, 15, 1) url("./resources/navscroll.gif");
	overflow-x: hidden;
	transition: 0.5s;
	transition-timing-function: ease-in-out; 
}

.openNav {
	width: calc(100vw - 11vh);
}

.sideNav div {
	padding-left: 30%;
	padding-bottom: 1.75rem;
	text-decoration: none;
	font-size: 3.5rem;
	color: #818181;
	display: block;
	transition: .1s, .6s;
	transition-property: color, visibility;
	cursor: pointer;
}

.sideNav div:hover {
	color: #f1f1f1;
}

.sideBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 0;
	top: 50%;
	z-index: 100;
	cursor: pointer;
	align-self: center;
	transition: margin-right .5s, border-radius .5s, background-color .15s;
	transition-timing-function: ease-in-out; 
	height: 5rem;
	width: 5rem;
	border-radius: 50% 50% 50% 50%;
	background-color:  rgba(15, 15, 15, 0);
}

.openBtn {
	margin-right: calc(100vw - 11vh);
	border-radius: 50% 0% 0% 50%;
	background-color: rgba(15, 15, 15, 1);
}

#sideBtn:hover {
	background-color:  rgba(15, 15, 15, 1);
}

.navIcon {
	position: relative;
	display: block;
}

.navDot {
	background-color: white;
	border-radius: 10px;
	width: 0.7rem;
	height: 0.7rem;
}

.navDot:first-child {
	position: absolute;
	top: 7px;
}

.navDot:last-child {
	position: absolute;
	bottom: 7px;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 1.8rem;}
}

.controls {
	font: 600 2rem "Raleway";
	color: white;
}

.controls .splashCtrl {
	position: absolute;
	top: 3vh;
	left: 16vh;
	padding: 8px 16px;
	padding: 8px 16px;
	border-radius: .5rem;
}

.controls .fwdCtrl {
	position: fixed;
	bottom: 3vh;
	right: 16vh;
	padding: 8px 16px;
	border-radius: .5rem;
}

.controls .backCtrl {
	position: fixed;
	bottom: 3vh;
	left: 16vh;
	padding: 8px 16px;
	border-radius: .5rem;
}

.controls i {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	position: relative;
	top: -.1em;
}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	position: relative;
	top: -.1em;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	height: 100vh;
	color: white;
	padding-right: 20vw;
}

@media(max-width: 50rem){
	main {
		padding-right: 10vw;
	}
	body {
		height: 88vh;
		margin: 6vh;
	}
	body #splash, body #about, body #skills, body #projects, body #contact {
		height: 88vh;
	} 
	body .controls .splashCtrl {
		left: 8vw;
		top: 1vh;
		transform: scale(.7);
	}
	body .controls .fwdCtrl {
		bottom: 0;
		right: 8vw;
		transform: scale(.7);
	}
	body .controls .backCtrl {
		bottom: 0;
		left: 8vw;
		transform: scale(.7);
	}
	body #about {
		line-height: 2.3rem
	}
	nav .openNav {
		width: calc(100vw - 6vh);
	}
	nav .openBtn{
		margin-right: calc(100vw - 6vh);
	}
}

#splash {
	height: 78vh;
	background: #006666 no-repeat center fixed  url("./resources/splash.gif");
	background-size: cover;
	display: none;
	font: 800 calc(2.5rem + 1vw) "Raleway";
}

#splashContainer {
	line-height: 6rem;
	text-align: right;
	position:relative;
	width: 50rem;
}

.words span {
	position: absolute;
	right: 0;
	opacity: 0;
	width: 100%;
	color: #22e23d;
	text-align: right;
}

.words span {
	animation: rotateWordsFirst 30s linear infinite 0s;
}

.words span:nth-child(2) { 
	animation-delay: 3s; 
	color: #ff9933;
}

.words span:nth-child(3) { 
	animation-delay: 6s; 
	color: #8ae222;	
}

.words span:nth-child(4) { 
	animation-delay: 9s; 
	color: #e2d722;	
}

.words span:nth-child(5) { 
	animation-delay: 12s; 
	color: #e2222f;	
}

.words span:nth-child(6) { 
	animation-delay: 15s; 
	color: #ff9933;	
}

.words span:nth-child(7) { 
	animation-delay: 18s; 
	color: #dc1867;	
}

.words span:nth-child(8) { 
	animation-delay: 21s; 
	color: #2fe2a1;	
}

.words span:nth-child(9) { 
	animation-delay: 24s; 
	color: #5ceaec;	
}

.words span:nth-child(10) { 
	animation-delay: 27s; 
	color: #e25822;	
}

@keyframes rotateWordsFirst {
	0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
	9% { opacity: 1; height: 60px; }
	11% { opacity: 0; height: 60px; }
	75% { opacity: 0; height: 60px; }
	100% { opacity: 0; }
}

#about {
	height: 78vh;
	font: 600 calc(1.2rem + .7vw) "Raleway";
	line-height: 3.75rem;
	background: #e25822 no-repeat center fixed  url("./resources/aboutalt.gif");
	background-size: cover;
	display: none;
	padding-right: 15%;
	padding-left: 15%;
}

#skills {
	height: 78vh;
	font: 700 calc(1.6rem + 1.2vw) "Raleway";
	background: #9933cc no-repeat center fixed  url("./resources/skillsalt.gif");
	background-size: cover;
	display: none;
	line-height: 4.7rem;
}

.baselineshift {
	position: relative;
	top: -.15em;
}

.postgreSQL {
	max-height: 3rem;
}

ul {
	list-style-type: none;
}

i {
	font-weight: 100;
}

#contact {
	height: 78vh;
	font: 600 calc(2.5rem + .5vw) "Raleway";
	background: #006600 no-repeat center fixed  url("./resources/contactalt.gif");
	background-size: cover;
	display: none;
	text-align: right;
	line-height: 4rem;
}

#email {
	font-weight: 800;
}

.hidden {
	visibility: collapse;
}

.visible {
	visibility: visible;
}

#contact span, #mailto {
	font-size: .6em;
	padding-left: 1rem;
}

#creditsLinks{
	text-align: right;
	font: 100 calc(1rem + .75vw) "Raleway";
	width: 30rem;
}

#projects {
	height: 78vh;
	align-items: flex-start;
	padding-left: 15%;
	font: 500 calc(.75rem + .75vw) "Raleway";
	color: white;
	text-decoration: none;
	padding-right: 15%;
	background: #333399 no-repeat center fixed  url("./resources/projects.gif");
	background-size: cover;
	display: none;
}

@media (min-width: 85rem) {
	#projects {
		font-size: 2rem;
	}

	#headline {
		font-size: 3rem;
	}
}

#headline { 
	font: 800 calc(2rem + .6vw) "Raleway";
	padding-left: 0;
}

.project a {
	font-weight: 700;
	padding-left: 2.5rem;
}

.project p {
	padding-left: 1rem;
	line-height: calc(1.8rem + .6vw);
}

.project {
	padding-left: 1rem;
	padding-right: 1rem;
	line-height: 2rem;
	width: 100%;
	margin: 1rem;
	background-color: rgba(15, 15, 15, .25);
}

.link {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.link:hover {
	opacity: .5;
}

.pulse {
	position: absolute;
	height: 4.9rem;
	width: 4.9rem;
	top: 50%;
	right: 0;
	opacity: 0;
	border: 1px solid rgba(15, 15, 15, .5);
	border-radius: 50%;
	-webkit-animation: pulsate .9s ease-out;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
	0% {
		transform: scale(1, 1);
		opacity: 0.0;
	}
	50% {
		opacity: .7;
	}
	100% {
		transform: scale( .7, .7);
		opacity: 0.0;
	}
}

.splash #splash {
	display: flex;
}

.about #about {
	display: flex;
}

.skills #skills {
	display: flex;
}

.projects #projects {
	display: flex;
}

.contact #contact {
	display: flex;
}

.splash .navDot {
	background-color: #006666;
}

.about .navDot {
	background-color: #e25822;
}

.skills .navDot {
	background-color: #9933cc;
}

.projects .navDot {
	background-color: #333399;
}

.contact .navDot {
	background-color: #006600;
}

.splash .controls div{
	background-color: #787878;
}

.splash .splashCtrl, .splash .backCtrl {
	display: none;
}

.splash .fwdCtrl {
	display: inline;
}

.about .controls div{
	background-color: #787878;
}

.about .splashCtrl, .about .backCtrl,  .about .fwdCtrl {
	display: inline;
}

.skills .controls div{
	background-color: #787878;
}

.skills .splashCtrl, .skills .backCtrl,  .skills .fwdCtrl {
	display: inline;
}

.projects .controls div{
	background-color: #787878;
}

.projects .splashCtrl, .projects .backCtrl,  .projects .fwdCtrl {
	display: inline;
}

.contact .controls div{
	background-color: #787878;
}

.contact .splashCtrl, .contact .backCtrl {
	display: inline;
}

.contact .fwdCtrl {
	display: none;
}

