:root {
	font-size: 62.5%;
}

body{
	height: 78vh;
	margin: 11vh;
	background: #cbcbcb;
}

nav {
	display: flex;
	font-family: 'Raleway', sans-serif;

}

.sideNav {
	display: flex;
	flex-direction: column;
		justify-content: center;
	height: 100%; 
	width: 0px; 
	position: fixed; 
	z-index: 99; 
	top: 0; 
	right: 0;
	background: rgba(15, 15, 15, 1) url("./resources/navscroll.gif");
	overflow-x: hidden;
	/*padding-top: 25%;*/
	transition: 0.5s;
	transition-timing-function: ease-in-out; 
}

.openNav {
	width: calc(100vw - 11vh);
}

.sideNav div {
	padding-left: 30%;
	padding-bottom: 1.75rem;
	text-decoration: none;
	font-size: 3.5rem;
	color: #818181;
	display: block;
	transition: .1s;
}

.sideNav div:hover {
	color: #f1f1f1;
}

.sideBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 0;
	top: 50%;
	z-index: 100;
	cursor: pointer;
	align-self: center;
	transition: margin-right .5s, border-radius .5s, background-color .15s;
	transition-timing-function: ease-in-out; 
	height: 5rem;
	width: 5rem;
	border-radius: 50% 50% 50% 50%;
	background-color:  rgba(15, 15, 15, 0);
}

.openBtn {
	margin-right: calc(100vw - 11vh);
	border-radius: 50% 0% 0% 50%;
	background-color: rgba(15, 15, 15, 1);
}

#sideBtn:hover {
	background-color:  rgba(15, 15, 15, 1);
}

.navIcon {
	position: relative;
	display: block;
}

.navDot {
	background-color: white;
	border-radius: 10px;
	width: 0.7rem;
	height: 0.7rem;
}

.navDot:first-child {
	position: absolute;
	top: 7px;
}

.navDot:last-child {
	position: absolute;
	bottom: 7px;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 1.8rem;}
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	height: 100vh;
	font: 800 4.25rem "Raleway";
	color: white;
	padding-right: 30%;
	min-width: 30vw;
}

#splash {
	height: 78vh;
	background: green no-repeat center fixed  url("./resources/splash.gif");
	background-size: cover;
	display: none;

}

.words span {
	position: absolute;
	opacity: 0;
	width: 100%;
	color: #9933cc;
}

.words1 span{
	animation: rotateWordsFirst 9s linear infinite 0s;
}
.words span:nth-child(2) { 
	animation-delay: 3s; 
	color: #333399;
}
.words span:nth-child(3) { 
	animation-delay: 6s; 
	color: #ff9933;	
}

@keyframes rotateWordsFirst {
    0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
    30% { opacity: .5; height: 60px; }
    40% { opacity: 0; height: 60px; }
	75% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
}

#about {
	height: 78vh;
	font: 800 3rem "Raleway";
	background: green no-repeat center fixed  url("./resources/about.gif");
	background-size: cover;
	display: none;
}

#skills {
	height: 78vh;
	font: 700 3rem "Raleway";
	background: green no-repeat center fixed  url("./resources/skills.gif");
	background-size: cover;
	display: none;
}

.baselineshift {
	position: relative;
	top: -.165em;
}

.postgreSQL {
	max-height: 3rem;
}

ul {
	list-style-type: none;
}

i {
	font-weight: 100;
}

#contact {
	height: 78vh;
	font: 800 3rem "Raleway";
	background: green no-repeat center fixed  url("./resources/contact.gif");
	background-size: cover;
	display: none;
	text-align: right;
}

.hidden {
	visibility: collapse;
}

.visible {
	visibility: visible;
}

#contact span, #mailto {
	font-size: .6em;
	padding-left: 1rem;
}

#creditsLinks{
	text-align: right;
	font: 100 1.75rem "Raleway";
	width: 30rem;
}

#projects {
	height: 78vh;
	align-items: flex-start;
	padding-left: 15%;
	font: 500 calc(1rem + .5vw) "Raleway";
	color: white;
	text-decoration: none;
	padding-right: 15%;
	background: green no-repeat center fixed  url("./resources/projects.gif");
	background-size: cover;
	display: none;
}

@media (min-width: 80rem) {
	#projects {
		font-size: 2rem
	}

	#headline {
		font-size: 3rem;
	}
}

#headline { 
	font: 800 calc(2rem + .6vw) "Raleway";
	padding-left: 0;
 }

.project a {
	font-weight: 700;
	padding-left: 2.5rem;
}

.project p {
	padding-left: 1rem;
}

.project {
	padding-bottom: 2rem;
	padding-left: 1rem;
}

.link {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.pulse {
  position: absolute;
  height: 4.9rem;
  width: 4.9rem;
  top: 50%;
  right: 0;
  opacity: 0;
  border: 1px solid rgba(15, 15, 15, .5);
  border-radius: 50%;
  -webkit-animation: pulsate .9s ease-out;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
  0% {
    transform: scale(1, 1);
    opacity: 0.0;
  }
  50% {
    opacity: .7;
  }
  100% {
    transform: scale( .7, .7);
    opacity: 0.0;
  }
}

.hover:hover {
	opacity: .5;
}

.splash #splash {
	display: flex;
}

.about #about {
	display: flex;
}

.skills #skills {
	display: flex;
}

.projects #projects {
	display: flex;
}

.contact #contact {
	display: flex;
}

.splash .navDot {
	background-color: #006666;
}

.about .navDot {
	background-color: #ff9933;
}

.skills .navDot {
	background-color: #9933cc;
}

.projects .navDot {
	background-color: #333399;
}

.contact .navDot {
	background-color: #006600;
}
